<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| %>
    <div class="alert alert-dismissable alert-<%= flash_class(key) %> mt-20 ml-20 mr-20">
      <%= value %>
    </div>
  <% end %>
<% end %>